body {
    margin: 0; /*The default spacing is removed around the page*/
    height: 100vh; /*Filling the entire screen height*/
    background: url("https://picsum.photos/1600/900") center/cover no-repeat;  /*Making the background the picture of one of their offices*/
    display: flex; /*Aligning the overlay*/
    justify-content: flex-start; /*Aligning the content to the left*/
    align-items: stretch;
    color: white;
    font-family: Arial, sans-serif;
}

.overlay { /*The semi-transparent gradient on the left of the photo*/
    flex: 1; /*Taking up the available width*/
    background: linear-gradient(to right, rgba(0,0,0,0,7) 0%, rgba(0,0,0,0) 50%; /*Transparent gradient*/
    padding: 2rem; /*Adding padding inside the overlay*/
    display: flex; /*Arranging the header*/
    flex-direction: column; /*Stacking to to bottom*/
}

header {
    border-bottom: 2px solid white; /*Adding a thin line under title*/
    padding-bottom: 1rem; /*Adding spacing below title text*/
    margin-bottom: 2rem; /*Gap between header and main content*/
    text-align: center; /*Centering the text horizontally*/
}

main {
    display: flex; /*Flex layout for items inside*/
    flex-direction: column; /*Stacking items vertically*/
    align-items: center; /*Centering items horizontally*/
    gap: 2rem; /*Adding spacing between each element*/
}

.title-box {
    background: rgba(0,0,0,0.6); /*Semi-transparent black background*/
    padding: 1.5rem 2rem; /*Adding spacing inside the text*/
    border-radius: 20px; /*Rounding corners*/
}

.perks {
    display: flex; /*Arranging both perks display side-by-side*/
    gap: 2rem; /*Adding spacing between the circles*/
}

.perk {
    background: rgba(0,0,0,0.6); /*Dark transparent background*/
    width: 120px; /*Fixing the width*/
    height: 120px; /*Fixing the height*/
    border-radius: 50%; /*Rounding the edges to make a circle*/
    display: flex; /*Centering the text with flexbox*/
    align-items: center; /*Vertical center*/
    justify-content: center; /*Horizontal center*/
    text-align: center; /*Align multi-line text center*/
}

.link-box {
    background: rgba(0,0,0,0.6); /*Dark transparent background*/
    padding: 1rem 2rem; /*Internal spacing*/
    border-radius: 30px; /*Creating the oval shape*/
    text-decoration: underline;/*Removing underline */
    text-underline-offset: 4px; /*making the underline easier to see*/
    color: white; /*White text*/
}
